.slideshow-container {
	display: grid;
	grid-template-columns: 10% 80% 10%;
	max-width: 45rem;
	max-height: 30rem;
	justify-self: center;
}

.slideshow {
	justify-content: center;
	display: grid;
	grid-column: 2;
	margin: auto;
	max-height: inherit;
	max-width: inherit;
	width: auto;
	height: auto;
}

.slideshow-button {
	height: 2rem;
	width: 2rem;
	justify-self: center;
	align-self: center;
	font-weight: 800;
	font-size: 1.5rem;
	background-color: rgba(255, 255, 255, 1);
	border-radius: 100%;
	display: grid;
	align-content: center;
	box-shadow: 1px 1px 10px 0px;
	cursor: pointer;
}

.slideshow-left {
	transform: rotateY(180deg);
}

.slide-container {
	width: auto;
	max-width: 100%;
	height: auto;
	max-height: inherit;
	margin: auto;
	justify-self: center;
	;
}

.slide {
	max-width: inherit;
	max-height: inherit;
	height: auto;
	width: auto;
	margin: auto;
	padding: auto;
}